<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="fb-page" data-href="https://www.facebook.com/studentsfm" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
        <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/studentsfm">
            <a href="https://www.facebook.com/studentsfm">Students FM</a>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <script type="text/javascript" src="http://ariyanetwork.com/isaiyaruvi_/player.js"></script>
      <script type="text/javascript">
new WHMSonic({
path : "http://ariyanetwork.com/isaiyaruvi_/WHMSonic.swf",
source : "http://108.61.154.147:8910",
volume : 30,
autoplay : false,
width: 372,
height: 60,
twitter : "https://twitter.com/studentsfm",
facebook : "http://www.facebook.com/studentsfm", 
});
    </script>    </div>
  </div>
</div>
<br>
