
<div class="container" id="home">
<div class="col-md-3">
  <nav class="nav navbar-default sidebar">
    <ul class="nav navbar-nav">
      <li><a href=""><i class="fa fa-share"></i> Share</a></li>
      <li><a href=""><i class="fa fa-thumbs-o-up"></i> Like</a></li>
    </ul>
  </nav>
</div>
<div class="col-md-9">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/c.jpg" height="250px" width="200px" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <p>Added desc</p>
            <!--p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p-->
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/assets/geek.jpg" height="250px" width="200px" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <p>Added desc</p>
            
            <!--p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p-->
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/assets/crypt.jpg" height="250px" width="200px" alt="Third slide">
        <div class="container">
          <div class="carousel-caption">
            <p>Added desc</p>
            <!--p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p-->
          </div>
        </div>
      </div>
    </div>
    
  </div><!-- /.carousel -->
  <p>Welcome to the official site of CEG-SPARTANZ.sdhfkjsdhfkdsjhfksdhfkjsdhfkjs<br>dhfkjdshfkdjshfkdj<br>sfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfh<br>kdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsf<br>
    kdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkd<br>jsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhbr>kdjsfhkdjsfhkdjsfhkdjsfh<br>
    ksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjs <br>
    fhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjs<br>
    fhksdh<br>fkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjs<br>fhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfh<br>kdjsfhksdhfkdjshfksdjhfkjsdf<br>
    hfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjs<br>
    fhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhk<br>
    djsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjh<br>
    fkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfk<br>
    jsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfh</p>
  
  <p>Welcome to the official site of CEG-SPARTANZ.sdhfkjsdhfkdsjhfksdhfkjsdhfkjs<br>dhfkjdshfkdjshfkdj<br>sfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfh<br>kdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsf<br>
    kdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkd<br>jsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhbr>kdjsfhkdjsfhkdjsfhkdjsfh<br>
    ksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjs <br>
    fhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjs<br>
    fhksdh<br>fkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjs<br>fhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfh<br>kdjsfhksdhfkdjshfksdjhfkjsdf<br>
    hfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjs<br>
    fhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhk<br>
    djsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjh<br>
    fkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfk<br>
    jsdfhfhkdjsfhkdjsfhkdjsfhkdjsfhkdjsfhksdhfkdjshfksdjhfkjsdfh</p>
</div>
<p><a data-toggle="lightbox" href="#demoLightbox1">Small Lightbox</a>

</p>
<div id="demoLightbox1" class="lightbox fade" tabindex="-1" role="dialog" aria-hidden="true">
    
    <div class="lightbox-dialog">
        <div class="lightbox-header">
            <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">
              &times;
            </button>
        </div>
        <div class="lightbox-content">
            <img src='/assets/c.jpg'/>
        </div>
    </div>
</div>
</div>
