@font-face {
	font-family: 'sui';
	src: url('SEGOEUIL.eot');
	src: local('fonts'), url('SEGOEUIL.woff') format('woff'), url('SEGOEUIL.ttf') format('truetype');
}
@font-face {
	font-family: 'freshman';
	src: url('freshman.eot');
	src: local('fonts'), url('freshman.woff') format('woff'), url('freshman.ttf') format('truetype');
}
@font-face{
	font-family: "monts";
	src: url('Montserrat.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "muso";
	src: url('MuseoSans-100.otf') format('opentype');
	font-weight: 100;
	font-style: normal;

}
@font-face{
	font-family: "muso-i";
	src: url('MuseoSans-100Italic.otf') format('opentype');
	font-weight: 100;
	font-style: normal;

}
.under{
margin-top:10%;
margin-left:45%;
}
.header{
  text-align:center;
}
h1,h2,h3.h4.h2,h6,body,div,p{
        font-family:'freshman';
	word-spacing: 0.25em;

}
a{
	color: #fff;
	font-weight: bold;
	font-family: 'sui';
	font-variant: small-caps;
	word-spacing: 0.25em;

}
a:hover{
	color: #9B2424;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'sui';	
	word-spacing: 0.25em;
	
}
.body{
	background-color: #9B2424;
	color: #fff;
	padding: 0px;
	border: 0px;
	font-size: 18px;
	word-spacing: 0.25em;

	
	
}
.banner{
	font-size: 60px;
	text-align: center;
	text-shadow: 4px 3px 2px rgb(0,0,0), 9px 8px 0px rgba(0, 0, 0, 0.15);
	word-spacing: 0.25em;

	-webkit-animation: slideInLeft 2s;
	-moz-animation: slideInLeft 2s ;
	-ms-animation: slideInLeft 2s ;
	animation: slideInLeft 2s ;
	
	
}
.content{
	

}
footer,.footer{
	font-size: 15px;
	background-color: white;
	color: #9B2424;
	margin-bottom: 0;
	word-spacing: 0.25em;

}
.footer:hover>.move{
	-webkit-animation: lightSpeedOut 0.5s ease-out;
	-moz-animation: lightSpeedOut 0.5s ease-out;
	-ms-animation: lightSpeedOut 0.5s ease-out;
	animation: lightSpeedOut 0.5s ease-out;
}
input,input:focus{
	border-style: none;
	border-bottom-style: double;
	background-color: transparent;
	border-collapse: collapse !important;
	border-color: #fff;
	outline: none;
	color: #fff;
	font-family: 'sui';
}
input[type="submit"],input[type="file"]{
	margin-top: 0.4%;
	border-style:double;
	font-family: 'sui';
}
.tagline [name="waving-flag"]{
	-webkit-animation: wobble 5s  infinite ease-out;
	-moz-animation: wobble 5s infinite ease-out;
	-ms-animation: wobble 5s infinite ease-out ;
	animation: wobble 5s infinite ease-out;
}
nav{
	outline: solid;
	background-color: #9B2424;
	word-spacing: 0.25em;
	
	
	
}
.navbar{
	background-color: #9B2424;
	color: #fff;
	padding: 0px;
	border: 0px;
	font-size: 18px;	
	word-spacing: 0.25em;

}
.navbar-default .navbar-nav > li > a{
	color: #fff;
	background-color: #9B2424;
	font-weight: bold;
	font-family: 'sui';
	font-variant: small-caps;
}
.navbar-default .navbar-nav > li > a:hover{
	background-color: white;
	color: #9B2424;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'sui';
	-webkit-animation: tada 1s ease-in;
	-moz-animation: tada 1s ease-in;
	-ms-animation: tada 1s ease-in;
	animation: tada 1s ease-in;
	

}
.pagination-sm,a[rel="prev start"],a[rel="next_page"],.previous_page,.next_page,a[rel="next"]{
	background-color: white;
	color: #9B2424;
	padding: 5px;
	font-family: 'sui';
}
.page-title{
	font-family: 'monts';
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	word-spacing: 0.25em;

}
.post{
	background-color: white;
	font-size: 20px;
	font-family: 'muso-i';
	word-break:break-all;
	color: #9B2424;
	margin-top: 0.5%;
	margin-left: 3%;
	margin-bottom: 1%;
	border-width: 10px;
	border-left-style: inset;
	border-color: #9B2424;
}
.loader{
	text-align: center;
	margin-left: 50%;
	margin-top: 5%;
}
.sep{
	background-image:url('hrline.png');
	background-repeat:repeat-x;
	background-position:50% 0;
	opacity:0.5;
	color:white;
	overflow: hidden;
	font-family:'sui';

}
.show{
	font-size: 18px;
	font-family: 'sui';
	text-align: left;
	padding: 1%;
	word-spacing: 0.25em;
	width: 100%;


}
.show:hover{
	background-color: white;
	padding-left: 1%;
}

.sidebar{
	outline: none;
	position: absolute;
	background-color: transparent;
	word-spacing: 0.25em;

}

textarea{
	border-color: white;
	border-width:2px;
	color: white;
	border-style: double;
	background-color: transparent;
	font-family: 'sui';
	word-spacing: 0.25em;

}
.tagline{
	font-size: 30px;
	text-align: right;
	position: relative;
	text-shadow: 4px 3px 2px rgb(0,0,0), 9px 8px 0px rgba(0, 0, 0, 0.15);
	word-spacing: 0.25em;
	-webkit-animation: slideInRight 2s;
	-moz-animation: slideInRight 2s;
	-ms-animation: slideInRight 2s;
	animation: slideInRight 2s;
	
}

.title>a{
	font-size: 25px;
	font-family: 'sui';
	font-style: normal;
	word-spacing: 0.15em;
	color: #9B2424;
}
.thumbs{
	list-style: none;
}


