h1,h2,h3.h4.h2,h6,body,div,p{
	font-family: 'sui';
	word-spacing: 0.25em;

}
a{
	color: #fff;
	font-weight: bold;
	font-family: 'sui';
	font-variant: small-caps;
	word-spacing: 0.25em;

}
a:hover{
	color: #9B2424;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'sui';	
	word-spacing: 0.25em;
	
}
.body{
	background-color: #9B2424;
	color: #fff;
	padding: 0px;
	border: 0px;
	font-size: 18px;
	word-spacing: 0.25em;

	-webkit-animation:shake 2s ease-in;
	-moz-animation: shake 2s ease-in;
	-ms-animation: shake 2s ease-in;
	animation: shake 2s ease-in;
	
}
.banner{
	font-size: 60px;
	text-align: center;
	text-shadow: 4px 3px 2px rgb(0,0,0), 9px 8px 0px rgba(0, 0, 0, 0.15);
	word-spacing: 0.25em;

	-webkit-animation: slideInRight 2s ease-in;
	-moz-animation: slideInRight 2s ease-in;
	-ms-animation: slideInRight 2s ease-in;
	animation: slideInRight 2s ease-in;
	
	
}
.content{
	font-size: 20px;
	font-family: 'muso-i';
	word-break:break-all;
	word-spacing: 0.25em;

}
footer,.footer{
	font-size: 15px;
	background-color: white;
	color: #9B2424;
	margin-bottom: 0;
	word-spacing: 0.25em;

}
.footer:hover>.move{
	-webkit-animation: lightSpeedOut 0.5s ease-out;
	-moz-animation: lightSpeedOut 0.5s ease-out;
	-ms-animation: lightSpeedOut 0.5s ease-out;
	animation: lightSpeedOut 0.5s ease-out;
}
input,input:focus{
	border-style: none;
	border-bottom-style: double;
	background-color: transparent;
	border-collapse: collapse !important;
	border-color: #fff;
	outline: none;
	color: #fff;
	font-family: 'sui';
}
input[type="submit"],input[type="file"]{
	margin-top: 0.4%;
	border-style:double;
	font-family: 'sui';
}
nav{
	outline: solid;
	background-color: #9B2424;
	word-spacing: 0.25em;

	-webkit-animation: slideInLeft 3s;
	-moz-animation: slideInLeft 3s ;
	-ms-animation: slideInLeft 3s ;
	animation: slideInLeft 3s ;
	
	
}
.navbar{
	background-color: #9B2424;
	color: #fff;
	padding: 0px;
	border: 0px;
	font-size: 18px;	
	word-spacing: 0.25em;

}
.navbar-default .navbar-nav > li > a{
	color: #fff;
	background-color: #9B2424;
	font-weight: bold;
	font-family: 'sui';
	font-variant: small-caps;
}
.navbar-default .navbar-nav > li > a:hover{
	background-color: white;
	color: #9B2424;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'sui';
	-webkit-animation: tada 1s ease-in;
	-moz-animation: tada 1s ease-in;
	-ms-animation: tada 1s ease-in;
	animation: tada 1s ease-in;
	

}
.pagination-sm,a[rel="prev start"],a[rel="next_page"],.previous_page,.next_page,a[rel="next"]{
	background-color: white;
	color: #9B2424;
	padding: 5px;
	font-family: 'sui';
}
.page-title{
	font-family: 'monts';
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	word-spacing: 0.25em;

}
.sep{
	background-image:url('hrline.png');
	background-repeat:repeat-x;
	background-position:50% 0;
	opacity:0.5;
	color:white;
	overflow: hidden;
	font-family:'sui';

}
.show{
	font-size: 18px;
	font-family: 'sui';
	text-align: left;
	padding: 1%;
	word-spacing: 0.25em;
	width: 100%;


}
.show:hover{
	background-color: white;
}

.sidebar{
	outline: none;
	position: absolute;
	background-color: transparent;
	word-spacing: 0.25em;

}

textarea{
	border-color: white;
	border-width: 0.2px;
	color: white;
	border-style: double;
	background-color: transparent;
	font-family: 'sui';
	word-spacing: 0.25em;

}
.tagline{
	font-size: 30px;
	text-align: right;
	position: relative;
	text-shadow: 4px 3px 2px rgb(0,0,0), 9px 8px 0px rgba(0, 0, 0, 0.15);
	word-spacing: 0.25em;

	-webkit-animation: slideInRight 2s ease-in;
	-moz-animation: slideInRight 2s ease-in;
	-ms-animation: slideInRight 2s ease-in;
	animation: slideInRight 2s ease-in;
	
}

.title{
	font-size: 30px;
	font-family: 'muso';
	font-style: normal;
	word-spacing: 0.25em;
}

