@font-face {
	font-family: 'sui';
	src: url('SEGOEUIL.eot');
	src: local('fonts'), url('SEGOEUIL.woff') format('woff'), url('SEGOEUIL.ttf') format('truetype');
}

@font-face{
	font-family: "monts";
	src: url('Montserrat.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "muso";
	src: url('MuseoSans-100.otf') format('opentype');
	font-weight: 100;
	font-style: normal;

}
@font-face{
	font-family: "muso-i";
	src: url('MuseoSans-100Italic.otf') format('opentype');
	font-weight: 100;
	font-style: normal;

}